<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.alfred-json</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>357CD92C-4195-46FA-85CD-6E13C46030BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E57D4EB-7865-4A0C-88D0-E7C9AF95044F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E57D4EB-7865-4A0C-88D0-E7C9AF95044F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8144E102-548C-45AF-9834-C9FEFF4DEFA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73A6227B-6FA7-411A-8421-8681D4C9DE88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B965AE02-A29D-4D2C-B299-7847BEA4B6A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F9EAFA6-A83D-4F9E-B6F0-62F1851E8C51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7331AD4-E62E-4D3D-A482-0823D4FCF805</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B965AE02-A29D-4D2C-B299-7847BEA4B6A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CA725B6-570F-4033-97D3-5F7A9B0A5CD2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7331AD4-E62E-4D3D-A482-0823D4FCF805</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22F70423-CE1A-4891-BF7B-BAB79C45E86F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFD139D6-7722-4D19-8A9B-07D6558AD1C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCA63CEE-88D6-499A-A320-66610EA65FA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCA63CEE-88D6-499A-A320-66610EA65FA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E23C9A15-441C-4BDD-80EC-5B35143D478F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Pawel Grzybek</string>
	<key>description</key>
	<string>JSON parse/stringify</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JSON</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>json-parse</string>
				<key>subtext</key>
				<string>JSON parse subtext</string>
				<key>text</key>
				<string>JSON parse</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>357CD92C-4195-46FA-85CD-6E13C46030BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>eval $(/usr/libexec/path_helper -s)
eval "$($SHELL -i -l -c 'echo -e "\n"PATH=\"$PATH:\$PATH\""\n"' 2&gt;/dev/null | grep "^PATH=")"
export PATH

if command -v node &gt;/dev/null 2&gt;&amp;1; then
    node -e "console.log(JSON.stringify(JSON.parse($1), null, 2))"
else
	echo $'{
    "items":[
      {
        "title": "Couldn\'t find the `node` binary",
        "subtitle": "Symlink it to `/usr/local/bin`"
      }
    ]
  }'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5E57D4EB-7865-4A0C-88D0-E7C9AF95044F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8144E102-548C-45AF-9834-C9FEFF4DEFA5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>eval $(/usr/libexec/path_helper -s)
eval "$($SHELL -i -l -c 'echo -e "\n"PATH=\"$PATH:\$PATH\""\n"' 2&gt;/dev/null | grep "^PATH=")"
export PATH

if command -v node &gt;/dev/null 2&gt;&amp;1; then
    node -e "console.log(JSON.stringify(JSON.parse($1), null, 2))"
else
	echo $'{
    "items":[
      {
        "title": "Couldn\'t find the `node` binary",
        "subtitle": "Symlink it to `/usr/local/bin`"
      }
    ]
  }'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B965AE02-A29D-4D2C-B299-7847BEA4B6A4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>json-parse</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>73A6227B-6FA7-411A-8421-8681D4C9DE88</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0CA725B6-570F-4033-97D3-5F7A9B0A5CD2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>json-stringify</string>
				<key>subtext</key>
				<string>JSON stringify subtext</string>
				<key>text</key>
				<string>JSON stringify</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7F9EAFA6-A83D-4F9E-B6F0-62F1851E8C51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>22F70423-CE1A-4891-BF7B-BAB79C45E86F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>eval $(/usr/libexec/path_helper -s)
eval "$($SHELL -i -l -c 'echo -e "\n"PATH=\"$PATH:\$PATH\""\n"' 2&gt;/dev/null | grep "^PATH=")"
export PATH

if command -v node &gt;/dev/null 2&gt;&amp;1; then
    node -e "console.log('\'' + JSON.stringify($1) + '\'')"
else
	echo $'{
    "items":[
      {
        "title": "Couldn\'t find the `node` binary",
        "subtitle": "Symlink it to `/usr/local/bin`"
      }
    ]
  }'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D7331AD4-E62E-4D3D-A482-0823D4FCF805</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E23C9A15-441C-4BDD-80EC-5B35143D478F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>eval $(/usr/libexec/path_helper -s)
eval "$($SHELL -i -l -c 'echo -e "\n"PATH=\"$PATH:\$PATH\""\n"' 2&gt;/dev/null | grep "^PATH=")"
export PATH

if command -v node &gt;/dev/null 2&gt;&amp;1; then
    node -e "console.log('\'' + JSON.stringify($1) + '\'')"
else
	echo $'{
    "items":[
      {
        "title": "Couldn\'t find the `node` binary",
        "subtitle": "Symlink it to `/usr/local/bin`"
      }
    ]
  }'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FCA63CEE-88D6-499A-A320-66610EA65FA9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>json-stringify</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>EFD139D6-7722-4D19-8A9B-07D6558AD1C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0CA725B6-570F-4033-97D3-5F7A9B0A5CD2</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>22F70423-CE1A-4891-BF7B-BAB79C45E86F</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>357CD92C-4195-46FA-85CD-6E13C46030BC</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>5E57D4EB-7865-4A0C-88D0-E7C9AF95044F</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>73A6227B-6FA7-411A-8421-8681D4C9DE88</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>7F9EAFA6-A83D-4F9E-B6F0-62F1851E8C51</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>8144E102-548C-45AF-9834-C9FEFF4DEFA5</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>B965AE02-A29D-4D2C-B299-7847BEA4B6A4</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>D7331AD4-E62E-4D3D-A482-0823D4FCF805</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>E23C9A15-441C-4BDD-80EC-5B35143D478F</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>EFD139D6-7722-4D19-8A9B-07D6558AD1C9</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>FCA63CEE-88D6-499A-A320-66610EA65FA9</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://pawelgrzybek.com/</string>
</dict>
</plist>
